/** @format */

/* @import 'tailwindcss/preflight'; */
@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;...&display=swap');

html {
  font-size: 62.5%;
}

.bg-custom-gradient {
  background: linear-gradient(to right, #b88efc, #6877f4);
}

.bg-button {
  background: linear-gradient(to right, #4facfe, #b88efc);
}

.app-bg {
  background: #060709;
}
